.case {
  margin-top: 8rem;
  padding: 0 3rem;
  z-index: 50;
}
.case .ant-carousel .slick-slide {
  text-align: center;
  height: 25rem;
  line-height: 25rem;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.case .tabCase {
  margin-top: 2rem;
}